In [1]:
import pandas as pd

### <center>Series</center>

One-dimensional ndarray with axis labels (including time series). Labels need not be unique but must be a hashable type. The object supports both integer- and label-based indexing and provides a host of methods for performing operations involving the index. Statistical methods from ndarray have been overridden to automatically exclude missing data (currently represented as NaN).

In [2]:
s = pd.Series([909976, 8615246, 2872086, 2273305])
s

0     909976
1    8615246
2    2872086
3    2273305
dtype: int64

In [3]:
# Instead of having the indexes as a series of numbers, it can be renamed. Elements must match
s.index = ["Stockholm", "London", "Rome", "Paris"]
s.name = "Population"  # Setting the name to the series
s

Stockholm     909976
London       8615246
Rome         2872086
Paris        2273305
Name: Population, dtype: int64

In [4]:
# These two tasks can be done in the same declaration of the series pd.Series([], index=[], name=)

# To access elements, there are 2 ways
s[["Rome", "London"]]  # as a vector

Rome      2872086
London    8615246
Name: Population, dtype: int64

In [5]:
s.Rome  # by the dot format

2872086

In [6]:
# To get a statistical description of the data
descr = s.describe()
descr

count    4.000000e+00
mean     3.667653e+06
std      3.399049e+06
min      9.099760e+05
25%      1.932473e+06
50%      2.572696e+06
75%      4.307876e+06
max      8.615246e+06
Name: Population, dtype: float64

In [7]:
myindex = ["USA", "Canada", "Mexico"]
mydata = [1776, 1867, 1821]

my_series = pd.Series(data=mydata, index=myindex)
my_series

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [8]:
my_series['USA'] == my_series[0]
# Location and labeled index are the same and both can be used.

True

In [9]:
# Creating a series from a dictionary --> pandas converts it automatically

dictio = {"Sam": 5, "Frank": 10, "Spike": 7}

pd.Series(data=dictio)

Sam       5
Frank    10
Spike     7
dtype: int64

#### Operations

In [10]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [11]:
# Convert into Pandas Series
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [12]:
sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [13]:
sales_Q2.values

array([100, 500, 210, 260], dtype=int64)

In [14]:
sales_Q1 + sales_Q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [15]:
sales_Q1.add(sales_Q2, fill_value=0) # When is not matching, this can be done by using the add method

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64