In [1]:
import pandas as pd
import numpy as np

### <center> Text Methods </center>

Pandas can do a lot more than what we show here. Full online documentation on things like advanced string indexing and regular expressions with pandas can be found here: https://pandas.pydata.org/docs/user_guide/text.html

In [3]:
names = pd.Series(['andrew','bobo','claire','david','4'])
names

0    andrew
1      bobo
2    claire
3     david
4         4
dtype: object

In [4]:
names.str.upper() # str --> enables to work with str dtype

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         4
dtype: object

In [5]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

It's very  useful the .str, because it enables to use all the built-in functions that come with the normal strings used in Python

In [6]:
tech_finance = ["GOOG,APPL,AMZN", "JPM,BAC,GS"]

In [7]:
tickers = pd.Series(tech_finance)
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [8]:
tickers.str.split(",")

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [9]:
# To grab one item
tickers.str.split(",").str[0]

0    GOOG
1     JPM
dtype: object

In [10]:
# To create different columns
tickers.str.split(",", expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [11]:
# Cleaning or editing series

messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])
messy_names

0      andrew
1         bo;bo
2      claire
dtype: object

In [13]:
messy_names.str.replace(";", "").str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object